.header {
  background-color: var(--gray-800);
  color: var(--gray-100);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.25rem 0;

  & img {
    height: 2.25rem;
  }

  & h1 {
    font-weight: 700;
    font-size: 1.625rem;
  }
}
