:root {
  --white: #fff;
  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;

  --green-300: #00b37e;
  --green-500: #00875f;

  --red-500: #f75a68;

  --ff-roboto-sans: "Roboto", sans-serif;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--green-300);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -mos-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--gray-900);
  color: var(--gray-300);
}

body,
input,
textarea,
button {
  font-family: var(--ff-roboto-sans);
  font-weight: 400;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}
